<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>RECODETUR :: Política de Cancelamento</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body style="min-width:372px;">
<div class="d-flex flex-column wrapper">

        <nav class="navbar navbar-expand-lg navbar-dark bg-danger border-bottom shadow-sm mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index.html">RecodeTur</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="/index.html" class="nav-link text-white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/pages/destinos.html" class="nav-link text-white">Destinos</a>
                        </li>
                        <li class="nav-item">
                            <a href="/pages/hospedagem.html" class="nav-link text-white">Hospedagem</a>
                        </li>
                        <li class="nav-item">
                            <a href="/pages/OutrosServiços.html" class="nav-link text-white">Outros Serviços</a>
                        </li>
                    </ul>
                    <div class="align-self-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/pages/cadastro.html" class="nav-link text-white">Cadastre-se</a>
                            </li>
                            <li class="nav-item">
                                <a href="/pages/login.html" class="nav-link text-white">Entrar</a>
                            </li>
                            <li class="nav-item">
                                <span class="badge rounded-pill bg-light text-danger position-absolute ms-4 mt-0"
                                    title="X produto(s) no carrinho"><small>X</small></span>
                                <a href="/pages/carrinho.html" class="nav-link text-white">
                                    <svg class="bi" width="24" height="24" fill="currentColor">
                                        <use xlink:href="/img/bi.svg#cart3" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    <main class="flex-fill">
        <div class="container">
            <h2
                style="box-sizing: border-box; margin: 0px; line-height: 1.2; font-size: 20px; letter-spacing: -0.05em; color: #576d96; padding-bottom: 20px; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                POLÍTICA DE CANCELAMENTO, TROCA E ARREPENDIMENTO
            </h2>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                
                A RecodeTur utiliza tecnologia de ponta para a fabricação de seus produtos, primando pela qualidade e satisfação de seus clientes. Pelo respeito e para que seja mantida a credibilidade conquistada junto aos seus consumidores, a empresa criou uma política de troca e cancelamento de acordo com o Código de Defesa do Consumidor, e preocupada para que você (cliente) obtenha uma negociação eficaz, ágil e principalmente satisfatória.
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                Caso opte pelo contato via correio eletrônico ou telefônico, será encaminhado a você o formulário para preenchimento.
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                Ao efetuar o processo de cancelamento/troca o cliente deverá, informar o motivo da cancelamento/troca, o nome do cliente, CPF e o número do pedido.                
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                *ATENÇÃO: Para efetuar o processo de troca é necessário estar logado. Cancelamento por Arrependimento/Desistência deverá fazê-lo em até sete dias corridos após a compra, a contar da data da confirmação do pagamento.                
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                Termos e Condições de Compra e Venda de RecodeTur, com sede na Endereço, num, Cidade/Estado, doravante denominada simplesmente RecodeTur, e, de outro lado, o cliente RecodeTur, qualificado no momento da compra dos produtos RecodeTur, doravante denominado simplesmente Cliente.

            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                Considerando que a RecodeTur realiza venda de produtos e serviços pela internet; Considerando o interesse do Cliente na compra dos produtos oferecidos pela RecodeTur ("Produtos") em seus canais de venda; O presente contrato tem por finalidade estabelecer as condições gerais de uso e compra de produtos e serviços do cliente do site RecodeTur.

            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                I. Confidencialidade: é de responsabilidade da RecodeTur a preservação da confidencialidade de todos os dados e informações fornecidos pelo Cliente no processo de compra. A segurança do site é auditada diariamente e garantida contra a ação de hackers, através do selo "Site Blindado".
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                II. Serviço de Atendimento ao Cliente (SAC): O cliente dispõe desse serviço para sanar suas dúvidas, solucionar eventuais solicitações ou reclamações a respeito do seu pedido ou de qualquer conteúdo disponibilizado no site. O SAC poderá ser acionado por meio de telefone ou de formulário do site.
            </p>
            
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                III. Política de Vendas - Após a finalização do pedido não é possível alterar a forma de pagamento, solicitar adiantamento das datas ou, ainda, prioridade da entrega.
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                III.I - O prazo de liberação informado durante o procedimento de compra do Produto leva em consideração o prestador do serviço, o processo de emissão da nota fiscal e o tempo de disponibilização da documentação. A cada atualização no status do pedido, o sistema da RecodeTur envia, automaticamente, e-mails de alerta para o Cliente.
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                III.II - O valor das taxas e tarifas é calculado com base nas tabelas dos prestadores de serviço.
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                III.III - A RecodeTur não se responsabiliza pela perca da compra, por atrasos na data marcada e outras pendências de documentação por parte do cliente, sendo, portanto, necessário seu comparecimento nos postos de atendimento referente aos documentos pendentes para sua regularização, tendo em vista que nestes casos as informações referentes a liberações e pagamentos só são passadas aos interessados.
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                IV. Direito de arrependimento: ao Cliente será facultado o exercício do direito de arrependimento da compra, com a finalidade de cancelamento da compra, hipótese na qual deverão ser observadas as seguintes condições: o prazo de desistência da compra do produto é de até 7 (sete) dias corridos, a contar da data do pedido.
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                IV.I - O Cliente deverá solicitar a devolução através do Serviço de Atendimento ao Cliente (SAC) ou diretamente no Painel de Controle, no tópico "cancelar pedido".
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                IV.II - Em compras com cartão de crédito a administradora do cartão será notificada e o estorno ocorrerá na fatura seguinte ou na posterior, de uma só vez, seja qual for o número de parcelas utilizado na compra. O prazo de ressarcimento e, ainda, a cobrança das parcelas remanescentes após o estorno integral do valor do Produto no cartão de crédito do Cliente realizado pela RecodeTur, é de responsabilidade da administradora do cartão. Na hipótese de cobrança de parcelas futuras pela administradora do cartão, o Cliente não será onerado, vez que a RecodeTur, conforme mencionado acima, realiza o estorno do valor integral do Produto em uma única vez, sendo o crédito referente ao estorno concedido integralmente pela administradora do cartão na fatura de cobrança subsequente ao mês do cancelamento.
            </p>
            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">
                IV.III - Em compras pagas com boleto bancário ou débito em conta, a restituição será efetuada por meio de depósito bancário, em até 10 (dez) dias úteis, somente na conta corrente do(a) comprador(a), que deve ser individual. É necessário que o CPF do titular da conta corrente.
            </p>
        </div>
    </main>



        <footer class="border-top text-muted bg-light">
            <div class="container">
                <div class="row py-3">
                    <div class="col-12 col-md-4 text-center text-md-start">
                        &copy; 2022 - RecodeTur <br>
                        Endereço, num, Cidade/Estado <br>
                        CNPJ XX.XXX.XXX/XXXX-XX
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="/pages/privacidade.html" class="text-decoration-none text-dark">Política de
                            Privacidade</a><br>
                        <a href="/pages/termos.html" class="text-decoration-none text-dark">Termos de Uso</a><br>
                        <a href="/pages/quemsomos.html" class="text-decoration-none text-dark">Quem Somos</a><br>
                        <a href="/pages/cancelamento.html" class="text-decoration-none text-dark">Cancelamentos</a><br>
                    </div>
                    <div class="col-12 col-md-4 text-center text-md-end">
                        <a href="/pages/contato.html" class="text-decoration-none text-dark">Contato</a><br>
                        Email: <a href="mailto:email@recodetur.com.br"
                            class="text-decoration-none text-dark">email@recodetur.com.br</a><br>
                        Telefone: <a href="phone:XXXXXXXXXXX"
                            class="text-decoration-none text-dark">(XX)XXXXX-XXXX</a><br>
                    </div>
                </div>
            </div>
        </footer>
</div>

    <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>