<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>RECODETUR :: TITULO DA PAG</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body style="min-width:372px;">

        <nav class="navbar navbar-expand-lg navbar-dark bg-danger border-bottom shadow-sm mb-3 ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/index.html">RecodeTur</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="/index.html" class="nav-link text-white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/pages/destinos.html" class="nav-link text-white">Destinos</a>
                        </li>
                        <li class="nav-item">
                            <a href="/pages/hospedagem.html" class="nav-link text-white">Hospedagem</a>
                        </li>
                        <li class="nav-item">
                            <a href="/pages/OutrosServiços.html" class="nav-link text-white">Outros Serviços</a>
                        </li>
                    </ul>
                    <div class="align-self-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="/pages/cadastro.html" class="nav-link text-white">Cadastre-se</a>
                            </li>
                            <li class="nav-item">
                                <a href="/pages/login.html" class="nav-link text-white">Entrar</a>
                            </li>
                            <li class="nav-item">
                                <span class="badge rounded-pill bg-light text-danger position-absolute ms-4 mt-0"
                                    title="X produto(s) no carrinho"><small>X</small></span>
                                <a href="/pages/carrinho.html" class="nav-link text-white">
                                    <svg class="bi" width="24" height="24" fill="currentColor">
                                        <use xlink:href="/img/bi.svg#cart3" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    <main>
        <div class="container">
              <section class="resume-section" id="sobre">
                <div class="resume-section-content">
                    <h1 class="mb-0" >
                        Thiago da Gama Fernandes
                    </h1>
                    <div class="subheading mb-5">
                        <a href="mailto:thigama.f@gmail.com">thigama.f@gmail.com</a>
                    </div>
                    <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Esse é o trabalho desenvolvido para o Recode Pro.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/thigama"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="https://twitter.com/home"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-2" />
            <!--Entrega 1-->
            <section class="resume-section" id="entregas">
                <div class="resume-section-content">
                    <h2 class="mb-5">Entregas</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h2 class="mb-0">Projeto Individual</h2>
                            <hr class="m-2" />
                            <h3>Primeira Entrega</h3>
                            <div class="flex-shrink-0"><span class="text-primary">11 julho 2022</span></div>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Uma agência de viagens precisa de você para desenvolver uma série de módulos para organizar as informações dos seus clientes, apresentar seus serviços e melhorar os serviços oferecidos aos seus parceiros. </p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h4 class="mb-0">Usando Pseudocódigo:</h4>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Usando conceitos de programação estruturada (Vetor), criar em pseudocódigo um menu para simular um cadastro para uma agência de viagens com as seguintes funções: cadastro de cliente e cadastro de destino, criar também uma consulta para cada estrutura de dados. .</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h4 class="mb-0">Usando HTML / CSS / BOOTSTRAP:</h4>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Criar um protótipo da primeira versão do site;</p>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Criar as páginas: Home, Destino, Promoções, Contato e as demais páginas de acordo com seu modelo de negócio. Usando HTML, CSS e BOOTSTRAP;
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">As páginas devem ser responsivas ou adaptáveis.</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3>Segunda Entrega</h3>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Olá, Estudante!
                            Nesta atividade, vamos dar continuidade à criação do site para a agência de viagens (melhorar o layout do modelo
                            anterior).
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Nesta entrega, contemple uma estrutura de layout com um menu horizontal na parte superior de todas as
                            páginas: HOME, DESTINOS, PROMOCOES, CONTATO usando tags semânticas e deixando o site totalmente responsivo usando
                            Bootstrap. Vamos dar início a modelagem de nosso banco de dados e a estrutura de classes de nosso sistema usando UML
                            e JAVA. Não esqueça que está atividade deve ser realizada individualmente.</p>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Atente-se às seguintes orientações: </p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">05 setembro 2022</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h4 class="mb-0">Modelagem de Dados:</h4>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Criar o modelo conceitual e lógico do banco de dados, usando uma ferramenta de modelagem de dados(BRmodelo)
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Criar as relações e cardinalidades entre as tabelas do modelo do banco</p>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Criar o modelo físico (tabelas e relações) usando SQL</p>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Criar o modelo do sistema (Classes) em UML e Java.</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h4 class="mb-0">Back-End</h4>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Usando os conceitos da orientação a objetos em Java, criar um projeto do tipo console da agencia de viagens, aplicando o
                            CRUD (Create, Read, Update, Delete) para todas as tabelas de seu modelo de banco de dados</p>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Para a atividade vamos usar classes Java, JDBC e MySql</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h4 class="mb-0">Front-End</h4>
                            <p style="box-sizing: border-box; margin-top: 0px; margin-bottom: 1rem; font-size: 16px; color: #576d96; font-family: Montserrat, sans-serif; background-color: #ffffff;">Atualizar a versão anterior do site, refatorando se preciso as páginas: Home, Destino, Promoções, Contato e as demais de
                            acordo com seu modelo de dados usando HTML, CSS Bootstrap.</p>
                        </div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
        </div>
    </main>

    <div style="height: 273px;" class="d-block d-md-none"></div>
        <div style="height: 153px;" class="d-md-block d-none d-lg-none"></div>
        <div style="height: 129px;" class="d-lg-block d-none"></div>

        <footer class="border-top text-muted fixed-bottom bg-light">
            <div class="container">
                <div class="row py-3">
                    <div class="col-12 col-md-4 text-center text-md-start">
                        &copy; 2022 - RecodeTur <br>
                        Endereço, num, Cidade/Estado <br>
                        CNPJ XX.XXX.XXX/XXXX-XX
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="/pages/privacidade.html" class="text-decoration-none text-dark">Política de
                            Privacidade</a><br>
                        <a href="/pages/termos.html" class="text-decoration-none text-dark">Termos de Uso</a><br>
                        <a href="/pages/quemsomos.html" class="text-decoration-none text-dark">Quem Somos</a><br>
                        <a href="/pages/cancelamento.html" class="text-decoration-none text-dark">Cancelamentos</a><br>
                    </div>
                    <div class="col-12 col-md-4 text-center text-md-end">
                        <a href="/pages/contato.html" class="text-decoration-none text-dark">Contato</a><br>
                        Email: <a href="mailto:email@recodetur.com.br"
                            class="text-decoration-none text-dark">email@recodetur.com.br</a><br>
                        Telefone: <a href="phone:XXXXXXXXXXX"
                            class="text-decoration-none text-dark">(XX)XXXXX-XXXX</a><br>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="/js/bootstrap.bundle.js"></script>
</body>

</html>